<div class='crumbholder'>
  <ul style='list-style-type: none;'>
    {% for task in track.tasks %}
    <li
      style='border-bottom: 1px solid black;{% if task.slug == current_task.slug %}list-style-type: circle;{% endif %}'
      ><a href='/task/{{ task.slug }}'>{% if task.title %}{{ task.title }}{% else %}Task {{ task.order }}{% endif %}</a>
      {% if request.user.has_completed_task(task) %}✓{% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
<style>
  @media only screen and (min-width: 768px) { 
    .crumbholder{
      position:absolute;
      left: 10px;
      width: 120px;
      padding-right:5px;
      border-right: 2px solid #4a4a4a;
      border-top: 2px solid #4a4a4a;
      border-bottom: 2px solid #4a4a4a;
      border-radius: 0px 5px 5px 0px;
    }
  }
</style>
