<script>
    themeKey = "theme";
    
    function switchTheme(themeName) {
    var name = "sakura";
    if (themeName == "sakura") {
      var storedName =   sessionStorage.getItem(themeKey);
          if (storedName != null)
              name = storedName;
           }

    else {
            name = themeName;
            sessionStorage.setItem(themeKey, name);
       }
      var link =  $("link, [type='text/css']");
      link.attr("href", "https://unpkg.com/sakura.css/css/"+ name+ ".css");    
      }
</script>