{% extends 'base.html' %}
{% block content %}
<div class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded">
  <div class="font-sans">
     <span class="text-base text-purple-500 font-bold">&laquo;</span> <a href="{{ previous_page }}" class="text-base md:text-sm text-purple-500 font-bold no-underline hover:underline">Back Link</a>
     <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 text-xl">{{ page_title }}</h1>
     <hr class="border-b border-gray-400">
  </div>
</div>
{% endblock %}
